extends ../../../layouts/account

block head
	title Euglena Live Lab

block neck
	link(rel='stylesheet', href='/views/account/lab/index.min.css?#{cacheBreaker}')
	link(rel='stylesheet', href='/views/account/lab/jquery-ui.css')
	script(src="/views/account/lab/jq.js")
	script(src="/views/account/lab/jquery-ui.js")
	script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
	script(src="/views/account/lab/Vector2.js")
	script(src="/views/account/lab/functions.js")
	script(src="/views/account/lab/socket_io.js")
	script(src="/views/account/lab/joystick.js")
	script(src="/views/account/lab/object.js")
	script(src="/views/account/lab/hand.minified-1.3.4.js")

block body
	div.row
		div.col-sm-12
			#canvasArea(style="padding: 10px; width=640px; height: 480px;")
	div.row
		h4 Euglena live webcam
		div.row
			div.col-sm-6
				#ledArea(align="center", style="width:300px;height:300px;padding:4px;")
			div.col-sm-6
				#joystickArea(style="width:300px;height:300px;")
					canvas#controlCanvas(style="background:#000;padding:10px;")
	div.row
		div.col-sm-4
			#valve_control_area
			h5 Experiment Board
			#board
		div.col-sm-8
			#chat(style="padding: 6px; min-width:600px; max-height:300px; overflow-y:scroll;")
			
	script(type='text/template', id='tmpl-valve_control')
		form
			div.form-actions
				h6 Valve control
				button.btn.btn-default.btn-trigger(type='button') Trigger Valve
				div.btn-group.btn-group-sm
					button#btn_open.btn.btn-default.btn-open(type='button') Open Valve
					button#btn_close.btn.btn-default.btn-close(type='button') Close Valve
