extends ../../../layouts/account

block head
	title Euglena Live Lab

block neck
	link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block body
	div.row
		div.col-sm-3#control
			div.page-header
				h1 Euglena live webcam
			#ledArea
			#joystickArea
				canvas#controlCanvas
		div.col-sm-9#container
			#canvasArea(style="padding: 10px; width=640px; height: 480px;")
			#username(style="padding:4px;")
				h6 What's your name?
					input(type="text", name="usernameTxt")
					input(type="button", name="setUsername", value="Enter the Ring")
