extends ../../../layouts/account

block head
  title Euglena Live Lab

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-sm-3
      div.page-header
        h1 Euglena live webcam
      div.d3canvas
      	div.ledArea
      	div.joystickArea
      		canvas controlCanvas
    div.col-sm-9
      div.page-header
        h1 Prestige Worldwide
      p.lead The first name in entertainment.
      i.fa.fa-volume-up.super-awesome
