extends ../../../layouts/account

block head
	title Euglena Live spectate

block neck
	link(rel='stylesheet', href='/views/account/spectate/index.min.css?#{cacheBreaker}')
	link(rel='stylesheet', href='/views/account/spectate/jquery-ui.css')
	script(src="/views/account/spectate/jq.js")
	script(src="/views/account/spectate/jquery-ui.js")
	script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
	script(src="/views/account/spectate/Vector2.js")
	script(src="/views/account/spectate/functions.js")
	script(src="/views/account/spectate/socket_io.js")
	script(src="/views/account/spectate/hand.minified-1.3.4.js")

block feet
	script(src='/views/account/spectate/index.min.js?#{cacheBreaker}')
	
block body
	div.row
		div.col-sm-8
			#canvasArea(style="padding: 10px; width=640px; height: 480px;")
		div.col-sm-4
			h4 Euglena live webcam
			#username(style="padding:4px;")
			#chat(style="padding: 6px; height:360px; overflow-y:scroll;")
			h6 Chat
				input(type="text", name="chatTxt")
			button#btn_send.btn.btn-default.btn-xs(type='button') send
			