extends ../../../layouts/account

block head
	title Euglena Live spectate

block neck
	link(rel='stylesheet', href='/views/account/spectate/index.min.css?#{cacheBreaker}')
	link(rel='stylesheet', href='/views/account/spectate/jquery-ui.css')
	script(src="/views/account/spectate/jq.js")
	script(src="/views/account/spectate/jquery-ui.js")
	script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
	script(src="/views/account/spectate/Vector2.js")
	script(src="/views/account/spectate/functions.js")
	script(src="/views/account/spectate/socket_io.js")
	script(src="/views/account/spectate/hand.minified-1.3.4.js")

block feet
	script(src='/views/account/timeline/index.min.js?#{cacheBreaker}')
	
block body
	div.row
		div.col-sm-12
			#canvasArea(style="padding: 10px; width=640px; height: 480px;")
	div.row
		h4 Euglena live webcam
		div.row
			div.col-sm-6
				#ledArea(align="center", style="width:300px;height:300px;padding:4px;")
	div.row
		div.col-sm-4
			#username(style="padding:4px;")
				h6 What's your name?
					input(type="text", name="usernameTxt")
					input(type="button", name="setUsername", value="Enter")
			h5 TOP 5 SCORES
			#board
		div.col-sm-8
			#chat(style="padding: 6px; min-width:600px; max-height:300px; overflow-y:scroll;")
