extends ../../../layouts/account

block head
	title Timeline

block neck
	script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
	script(src="/views/account/timeline/d3.tips.js")
	script(src="/views/account/timeline/socket_io.js")
	style.
		.clock_bar {font-size:250%}
		.block-default {stroke-width:4;stroke:black;fill:white;}
		.block-default:hover{fill: pink;}
		.block-locked {stroke-width:4;stroke:white;fill:lightgrey;}
		.block-locked:hover{fill: pink;}
		.block-current {stroke-width:4;stroke: tomato;fill:white;}
		.block-current:hover{fill: pink;}
		.block-name{fill: rgb(33,33,33);font-size:85%}
		.d3-tip{line-height: 1;font-weight: bold;padding: 12px;background: rgba(0, 0, 0, 0.8);color: #fff;border-radius: 2px;pointer-events: none;}
		.d3-tip:after{box-sizing: border-box;display: inline;font-size: 10px;width: 100%;line-height: 1;color: rgba(0, 0, 0, 0.8);position: absolute;pointer-events: none;}
		.d3-tip.n:after{content: "\25BC";margin: -1px 0 0 0;top: 100%;left: 0;text-align: center;}
		.d3-tip.e:after {content: "\25C0";margin: -4px 0 0 0;top: 50%;left: -8px;}
		.d3-tip.s:after {content: "\25B2";margin: 0 0 1px 0;top: -8px;left: 0;text-align: center;}
		.d3-tip.w:after {content: "\25B6";margin: -4px 0 0 -1px;top: 50%;left: 100%;}

block feet
	script(src='/views/account/timeline/index.min.js?#{cacheBreaker}')

block body
	div.navbar.navbar-default.navbar-fixed-bottom
		div.container
			h6 Time left for this block
			div.row
				div.col-sm-2
					div#clock_bar.clock_bar
				div.col-sm-3
					div#blocks_nav
				div.col-sm-7
					div#date_picker
						h6 Logged in as #{user.username}
	div.row
			#d3Area

	script(type='text/template', id='tmpl-blocks_nav')
		form
			div.form-actions
				div.btn-group.btn-group
					button.btn.btn-default.btn-prev(type='button') Prev
					button.btn.btn-default.btn-now(type='button') Now
					button.btn.btn-default.btn-next(type='button') Next