extends ../../../layouts/account

block head
	title Timeline

block neck
	script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
	script(src="/views/account/timeline/socket_io.js")
	script(src="/views/account/timeline/d3.tips.js")
	script(src="/views/account/timeline/timeline.js")

block body
	div.row
		div.col-sm-12
			#d3Area