extends ../layouts/default

block head
  title Drywall is Running

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 Welcome
    p.lead
      | to the home of the euglena remote experiment system.
      div
        a.btn.btn-primary.btn-lg(href='/signup/') Create an Account
        |  or&nbsp;
        a.btn.btn-warning.btn-lg(href='/login/forgot/') Reset Your Password
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 About Us
          p HIRK lab from Stanford University is hosting the euglena remote experiment system.
          a.btn.btn-default.btn-block(href='/about/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Join Us
          p Try spectate or even run an experiment remotely!
          a.btn.btn-default.btn-block(href='/signup/') Sign Up
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Contact Us
          p Write to us. With love.
          a.btn.btn-default.btn-block(href='/contact/') Learn More
