extends ../../../layouts/account

block head
	title Euglena Experiment Pattern Editor

block neck
	link(rel='stylesheet', href='/views/account/pattern/index.min.css?#{cacheBreaker}')
	style.
		.clock-bar {font-size:240%}
		.current-frame {fill: #F41C54;}
		.frame-no-led {fill: #333333;}
		.frame-with-led {fill:black}
		.stroke-led {stroke-width:1;stroke: white;}
		.arrow {fill: white;}
		.axis path {fill: none; stroke: lightgray; shape-rendering: crispEdges;}
		.axis line {fill: none; stroke: lightgray; shape-rendering: crispEdges;}
		.dot {stroke: lightgray;}
		.grid .tick {stroke: #FAFAFA;}
		.grid path {stroke-width: 0;}
		.div_spacer {height:100px;}

block feet
	script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
	script(src='/socket.io/socket.io.js')
	script(src='/socket.io/socket.io.js')
	script(src='/views/account/pattern/index.min.js?#{cacheBreaker}')
	script(src='/views/account/pattern/Vector2.js')
	script(src='/views/account/pattern/functions.js')

block body
	div.container
		div.row
			h4 Pattern Editor
		div.row
			div.col-sm-5
				#info_box
				div#dropdown_pattern.dropdown
					button#dropdownMenu.btn.btn-default.dropdown-toggle(type="button",id="dropdownPattern",data-toggle="dropdown") Dropdown
						span.caret
					ul.dropdown-menu(role="menu")
						li example0
						li exmaple1
						li example2
			div.col-sm-7
				p(style='white-space:pre;font-size:80%;')
					| (index number), (time the pattern will be executed in msec), (LED up)^(LED left)^(LED down)^(LED right)
					| ex) turn on and off LED left twice for an interval of a second with intensity 50% at 1:00
					| 0, 60000, 0^0.5^0^0 
					| 1, 61000, 0^0^0^0
					| 2, 62000, 0^0.5^0^0
					| 3, 63000, 0^0^0^0
		div.row
			div.col-sm-4
				#pattern_edit
					textarea#pattern_input(class="form-control", rows="20", cols="60")
			div.col-sm-8
				#pattern_vis(style="height: 500px;overflow:scroll;")
		div.row
			#div_spacer.div_spacer
				
	div.navbar.navbar-default.navbar-fixed-bottom
		div.container
			div.row
				#pattern_menu
					
	script(type='text/template', id='tmpl-pattern_menu')
		form
			div.form-actions
				div.col-sm-6.btn-group
					button#btn_check.btn.btn-default.btn-check(type='button') check pattern 
						i.fa.fa-check
					button#btn_edit.btn.btn-default.btn-edit(type='button') edit pattern 
						i.fa.fa-edit
					button#btn_submit.btn.btn-default.btn-submit(type='button') submit pattern 
						i.fa.fa-arrow-right
				div.col-sm-6.panel.panel-default
					div.panel-body
						label.control-label Title of the pattern:
						input#input_title.input-title.form-control(type='text', name='title', value=null, placeholder="Title of the pattern")
						label.control-label Tags for the pattern:
						input#input_tags.input-tags.form-control(type='text', name='tags', value=null, placeholder="Use comma to seperate tags")
