extends ../../../layouts/account

block head
	title Euglena Experiment Pattern Editor

block neck
	link(rel='stylesheet', href='/views/account/pattern/index.min.css?#{cacheBreaker}')
	style.
		.clock-bar {font-size:240%}
		.current-frame {fill: #F41C54;}
		.frame-no-led {fill: #333333;}
		.frame-with-led {fill:black}
		.stroke-led {stroke-width:1;stroke: white;}
		.area {fill: steelblue; clip-path:url(#clip)}
		.axis path,
		.axis line{fill: none; stroke: white; shape-rendering: crispEdges;}
		.brush .extent {stroke: gray; fill-opacity: .125; shape-rendering: crispEdges;}

block feet
	script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
	script(src='/socket.io/socket.io.js')
	script(src='/views/account/pattern/index.min.js?#{cacheBreaker}')
	script(src='/views/account/pattern/Vector2.js')
	script(src='/views/account/pattern/functions.js')

block body
	div.row
		div.col-sm-7(style='height: 500px')
			textarea#pattern_input(class="form-control", rows="20", cols="60")
		div.col-sm-5
			div
				#pattern_menu
		
	script(type='text/template', id='tmpl-pattern_nav')
		form
			div.form-actions
				div.btn-group.btn-group-sm
					button.btn.btn-default.btn-check(type='button')
						i.fa.fa-arrow-right
					button.btn.btn-default.btn-submit(type='button')
						i.fa.fa-check