extends ../../../layouts/account

block head
	title Euglena Data Replay

block neck
	link(rel='stylesheet', href='/views/account/replay/index.min.css?#{cacheBreaker}')
	style.
		.clock-bar {font-size:240%}
		.current-frame {stroke: #F41C54;}
		.frame-no-led {fill:darkgrey}
		.frame-with-led {fill:white}

block feet
	script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
	script(src='/socket.io/socket.io.js')
	script(src='/views/account/replay/index.min.js?#{cacheBreaker}')
	script(src='/views/account/replay/Vector2.js')
	script(src='/views/account/replay/functions.js')

block body
	div.row
		div.col-sm-7(style='height: 500px')
			#canvasArea
		div.col-sm-5
			div
				#playback_nav
			div
				h5 Block Info
				#info_box
			#download_box
	div.row(style='overflow: scroll')
		h6 frames visualized (red = current frame, white = with light stimuli, grey = no stimulus)
			#data_vis_box
		
	script(type='text/template', id='tmpl-movie_nav')
		form
			div.form-actions
				div.btn-group.btn-group-sm
					button.btn.btn-default.btn-first(type='button')
						i.fa.fa-fast-backward
					button.btn.btn-default.btn-play(type='button')
						i.fa.fa-play
					button.btn.btn-default.btn-stop(type='button')
						i.fa.fa-stop
	
	script(type='text/template', id='tmpl-download')
		form
			div.form-actions
				h6(id='img_dl_link') Download Image Data (.zip)
				h6(id='led_dl_link') Download Light Stimuli Data (.csv)